---
import BaseLayout from '../layouts/BaseLayout.astro'
import EventCard from '../components/EventCard.astro'
import { getFilenameFromPath } from '../helpers'
import type { EventFrontmatter } from '../types'
import { getUpcomingEvents } from '../api/events.astro'


const events = await Astro.glob<EventFrontmatter>('../../termine/*.md')
console.log(events.map(e => e.frontmatter.date))
---

<BaseLayout>
	<hgroup>
		<h1>Grönauer Infos</h1>
		<p>Von und für Grönauer.</p>
	</hgroup>

	<h2>Die nächsten Termine</h2>
	<ol>
		{events
			.filter(event => new Date() <= new Date(event.frontmatter.date) && new Date(event.frontmatter.date) <= new Date(Date.now() + (1000 * 60 * 60 * 24 * 30)))
			.map(event => (
			<li>
				<a href={`/termine/${getFilenameFromPath(event.file)}`}>
					<EventCard
						date={event.frontmatter.date}
						dateEnd={event.frontmatter.dateEnd}
						time={event.frontmatter.time}
						timeEnd={event.frontmatter.timeEnd}
						title={event.frontmatter.title}
						place={event.frontmatter.place}
					/>
				</a>
			</li>
		))}
	</ol>
	<p><a href="/termine">Alle kommenden Termine</a></p>
</BaseLayout>

<style>
	li {
		list-style: none;
	}
</style>