---
import { type CollectionEntry, type CollectionKey } from "astro:content";

type Props = {
	entry: CollectionEntry<CollectionKey>;
	css?: string;
};

const { entry, css } = Astro.props;
---

{
	entry.collection === "orte" &&
		(entry.id === "groenau" ? (
			<span class={css}>
				<slot>{entry.data.name}</slot>
			</span>
		) : (
			<a class={css} href={`/${entry.collection}/${entry.id}`}>
				<slot>{entry.data.name}</slot>
			</a>
		))
}

{
	entry.collection === "termine" && (
		<a class={css} href={`/${entry.collection}/${entry.slug}`}>
			<slot>{entry.data.title}</slot>
		</a>
	)
}
