---
import type { CollectionEntry } from "astro:content";
import DateTime from "./DateTime.astro"

type Props = { event: CollectionEntry<'termine'> }

const { event } = Astro.props
---

<article class="card card-body">
    <h3 class="card-title h5">{event.data.title}</h3>
    <DateTime
        date={event.data?.date}
        dateEnd={event.data?.dateEnd}
        time={event.data?.time}
        timeEnd={event.data?.timeEnd}
    />
    <p>{event.data?.place}</p>
    <p class="text-end mb-0">
        <a class="" href={`/${event.collection}/${event.slug}`}>mehr</a>
    </p>
</article>