---
import { getCollection } from 'astro:content'
import type { CollectionEntry } from 'astro:content'
import BaseLayout from '../../layouts/BaseLayout.astro'
import DateTime from '../../components/DateTime.astro'

export async function getStaticPaths() {
	const events = await getCollection('termine')
	return events.map(event => ({
		params: {
			slug: event.slug
		},
		props: event
	}))
}
type Props = CollectionEntry<'termine'>

const event = Astro.props
const { Content } = await event.render()
---

<BaseLayout title={event.data.title}>
	<style>
		article {
			display: grid;
			grid-template-columns: auto 1fr;
			grid-template-rows: auto 1fr auto;
			grid-template-areas: 
				"header img"
				"list img"
				"body body"
				"img2 img2";
			column-gap: 1rem;
		}
		article * {
			grid-area: body;
		}
		article hgroup,
		article h1 {
			grid-area: header;
		}
		article img {
			grid-area: img;
			justify-self: end;
		}
		@media (max-width: 768px) {
			article img {
				grid-area: img2;
			}
		}
		article dl {
			grid-area: list;
		}
	</style>
	<article>
		{event.data.subtitle ?
			<hgroup class="my-5">
				<h1>{event.data.title}</h1>
				<p class="lead">{event.data.subtitle}</p>
			</hgroup> :
			<h1 class="my-5">{event.data.title}</h1>
		}

		<dl>
			<dt class="fw-lighter">Wann?</dt>
			<dd>
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
					<path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
					<path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
				</svg>{' '}
				<DateTime
					date={event.data.date}
					dateEnd={event.data.dateEnd}
					time={event.data.time}
					timeEnd={event.data.timeEnd}
					dateStyle="full"
				/>
			</dd>
			<dt class="fw-lighter">Wo?</dt>
			<dd>
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
					<path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
					<path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
				</svg>{' '}
				{event.data.place}
			</dd>
			{event.data.price && (
				<dt class="fw-lighter">Preis</dt>
				<dd>
					{Number(event.data.price) ? event.data.price : 'kostenlos'}
					</dd>
			)}
		</dl>

		{event.data.image && 
			<img
				src={event.data.image}
				alt="" 
				class="img-fluid py-4"
				// width="600"
				// height="800"
			/>
		}

		<section>
			<hr />
			<Content />
		</section>
	</article>
</BaseLayout>
