---
import "../styles/index.scss";
import { SITE_TITLE, SITE_DESCRIPTION, SITE_KEYWORDS } from "../consts";
import MainNavigation from "../components/MainNavigation.astro";
import Footer from "../components/Footer.astro";

const { title } = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const documentTitle = title ? SITE_TITLE.concat(" • ", title) : SITE_TITLE;
---

<html lang="de">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<link rel="canonical" href={canonicalURL} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<title>{documentTitle}</title>
		<meta name="title" content={SITE_TITLE} />
		<meta name="description" content={SITE_DESCRIPTION} />
		<meta name="keywords" content={SITE_KEYWORDS} />
	</head>
	<body>
		<MainNavigation />
		<main class="container">
			<slot />
		</main>
		<Footer />
		<script
			src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"
			integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D"
			crossorigin="anonymous"></script>
	</body>
</html>
